version: 2

updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      golang-x:
        patterns:
          - "golang.org/x/*"
      k8s-io:
        patterns:
          - "k8s.io/*"
      aws-sdk:
        patterns:
          - "*aws-sdk*"
      azure-sdk:
        patterns:
          - "*azure-sdk*"
