---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  - serviceaccounts
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - gitops.kluctl.io
  resources:
  - kluctldeployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gitops.kluctl.io
  resources:
  - kluctldeployments/finalizers
  verbs:
  - create
  - delete
  - get
  - patch
  - update
- apiGroups:
  - gitops.kluctl.io
  resources:
  - kluctldeployments/status
  verbs:
  - get
  - patch
  - update
