apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: deployment
    app.kubernetes.io/instance: kluctl-webui
    app.kubernetes.io/name: kluctl-webui
    app.kubernetes.io/managed-by: kluctl
    control-plane: kluctl-webui
  name: kluctl-webui
  namespace: kluctl-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: deployment
      app.kubernetes.io/instance: kluctl-webui
      app.kubernetes.io/name: kluctl-webui
  template:
    metadata:
      labels:
        app.kubernetes.io/component: deployment
        app.kubernetes.io/instance: kluctl-webui
        app.kubernetes.io/name: kluctl-webui
    spec:
      containers:
      - name: webui
        image: ghcr.io/kluctl/kluctl:latest
        imagePullPolicy: IfNotPresent
        command:
          - kluctl
          - webui
          - --in-cluster
        env: []
        ports:
          - containerPort: 8080
            name: http
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 2000m
            memory: 512Mi
          requests:
            cpu: 500m
            memory: 512Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
      securityContext:
        runAsNonRoot: true
      serviceAccountName: kluctl-webui
      terminationGracePeriodSeconds: 10
