name: tests

on:
  push:
    branches:
      - main
      - release-v*
  pull_request:
    branches:
      - main

jobs:
  generate-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: pkg/webui/ui/package-lock.json
      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: docs-check-go-${{ runner.os }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            docs1-check-go-${{ runner.os }}-
      - name: Check links on changed files
        run: |
          make markdown-link-check
      - name: Verify commands help is up-to-date
        run: |
          make replace-commands-help
          if [ ! -z "$(git status --porcelain)" ]; then
            echo "replace-commands-help must be invoked and the result committed"
            git status
            git diff
            exit 1
          fi
      - name: Verify generated source is up-to-date
        run: |
          make generate
          if [ ! -z "$(git status --porcelain)" ]; then
            echo "make generate must be invoked and the result committed"
            git status
            git diff
            exit 1
          fi
      - name: Verify generated manifests are up-to-date
        run: |
          make manifests
          if [ ! -z "$(git status --porcelain)" ]; then
            echo "make manifests must be invoked and the result committed"
            git status
            git diff
            exit 1
          fi
      - name: Verify generated api-docs are up-to-date
        run: |
          make api-docs
          if [ ! -z "$(git status --porcelain)" ]; then
            echo "make api-docs must be invoked and the result committed"
            git status
            git diff
            exit 1
          fi
      - name: Verify go.mod and go.sum are clean
        run: |
          go mod tidy
          if [ ! -z "$(git status --porcelain)" ]; then
            echo "go mod tidy must be invoked and the result committed"
            git status
            git diff
            exit 1
          fi

  check-npm-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: pkg/webui/ui/package-lock.json
      - name: Verify webui build works
        run: |
          make build-webui

  tests:
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            run_on_pull_requests: true
          - os: macos-12
            run_on_pull_requests: false
          - os: windows-2022
            run_on_pull_requests: false
        os: [ubuntu-22.04, macos-12, windows-2022]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'
      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: tests-go-${{ runner.os }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            tests-go-${{ runner.os }}-
      - name: Run unit tests
        shell: bash
        run: |
          make test-unit
      - name: Run e2e tests
        if: matrix.run_on_pull_requests || github.event_name != 'pull_request'
        shell: bash
        run: |
          make test-e2e
